{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Наши Контакты</h2>
        <p>Наши офисы готовы принять вас по следующим адресам в Москве и Калининграде</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Москва</h3>
                    <p>Руководитель подразделения: Игорь Андреевич</p>
                    <p>БЦ Москва-сити, ул. Пресненская наб., 8, стр. 1, башня Москва, оф.523 (25 этаж)</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Позвоните нам</h3>
                  <a href="tel:+79777130111"><p>+7 (977) 713-01-11</p></a>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Напишите нам</h3>
                    <a href="mailto:sud-man.msk@yandex.ru"><p>sud-man.msk@yandex.ru</p></a>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0eb735ab24d8469b7eac65a3d0f3362ea2de78b903dcfb14b52ee6630ff57d34&amp;source=constructor" frameborder="0" style="border:0; width: 100%; height: 370px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Калининград</h3>
                  <p>Руководитель подразделения: Андрей Васильевич</p>
                    <br>
                  <p>ул. Сергеева, 14, Калининград кабинет 309, этаж 3</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Позвоните нам</h3>
                    <a href="tel:+79062341747"><p>+7 (906) 234-17-47</p></a>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Напишите нам</h3>
                  <a href="mailto:sud-man.kld@yandex.ru"><p>sud-man.kld@yandex.ru</p></a>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa3e641f9a05da5d0420fb107e74ce4bc14ec7d3ddf17567c9f16345945d326a2&amp;source=constructor" frameborder="0" style="border:0; width: 100%; height: 370px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>

      </div>

    </section>
{% endblock content %}